#playlist .header {
  min-width: 100%;
  height: 7rem;
  color: white;
  font-size: 6rem;
  text-decoration: underline;
}
#playlist .content {
  padding-top: 4rem;
}

#playlist .section-header {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}
#playlist img{
  height: 225px;
  width: 225px;
  display: block;
  margin: 0 auto;
}
#playlist .clickable:hover{
  cursor: pointer;
}
#playlist .section-header:hover {
  text-decoration: underline;
}
