#song .table-item{
    font-size: 18px;
    border-bottom: 1px solid rgb(161, 161, 161);
    color: rgb(216, 216, 216);
}
#song .table-header{
    border-bottom: 2px solid rgb(161, 161, 161);
    font-size: 25px;
}
#song .table-item .function{
    color: rgb(39, 39, 39);
}
#song .table-item:hover .function{
    color: white;
}  
#song .table-item:hover{
    background-color: rgb(20, 20, 20);
    color:white;
}
#song .header{
    display: block;
    min-width: 100%;
    height: 5rem;
    font-size: 4rem;
    text-decoration: underline;
}
#song {
    padding-block-end: 10px;
}