#account .img-header{
    padding-block-start: 10px;
    margin: 0 auto;
    width: 100%;
}
#account .name{
    text-align: center;
    font-size: 3.5em;
}
#account .section-header{
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}
#account .img-detail{
    width: 64px;
    height: 64px;
}
#account .songInfo{
    padding-block-start: 10px;
    border-bottom: 1px solid rgb(128,128,128);
    padding-block-end: 10px;
}
#account .songArtist{
    font-size: 15px;
}